*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}

/* keep line-height, margin-top, margin-bottom as multiples of 0.5rem for good vertical rhythm */

.post-container {
  width: 100%;
  max-width: 70rem;
  margin: 0.5rem auto;
}
.post {
  border: 1px dashed #000;
  border-radius: 3px;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  min-height: 0.5vw;
}
.post h1 {
  width: 100%;
  font-size: 2.4rem;
  color: #666;
  margin: 1rem 0 0.5rem;
  font-weight: lighter;
}
.post-meta, .comment-meta {
  border-bottom: 1px solid #dadada;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 0.5rem;
}
.author {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
}
.children-container {
  padding-left: 0.5rem;
  border-right: 1px solid #999;
}
.children-list {
  padding-left: 0.5rem;
  border-top: 1px solid #999;
  border-left: 3px solid #999;
  border-bottom: 1px solid #999;
  margin-top: 2px;
  margin-bottom: -1px;
}


.comment-control {
  padding: 0.25rem;
  text-align: right;
}
.comment-control button {
  text-align: center;
}

.comment-form {
  width: 100%;
  text-align: left;
}

/* pretty button below */
.btn {
  position: relative;

  display: inline-block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 0.5rem 1.5rem;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}
